<form
  class="flex flex-wrap gap-3 mx-3 mt-6"
  [formGroup]="form"
  (ngSubmit)="handleReview($event)"
>
  <text-area
    label="Write Your Review Here"
    class="basis-full"
    placeholder="Write your review here"
    formControlName="body"
  />
  <div class="max-tablet-sm:order-first max-tablet-sm:basis-full">
    <rating [readonly]="false" formControlName="rating" />
  </div>
  <button
    [disabled]="form.invalid"
    class="ms-auto py-1 px-3 bg-navajo-white dark:bg-amber-500 dark:text-slate-800"
  >
    Review
  </button>
</form>
