<form
  class="flex flex-wrap gap-3 mx-3 mt-6"
  [formGroup]="form"
  (ngSubmit)="handleReview($event)"
>
  <text-area
    label="Write Your Review Here"
    class="basis-full"
    formControlName="body"
  />
  @if (clientStore.client()) {
    <div class="max-tablet-sm:order-first max-tablet-sm:basis-full">
      <rating [readonly]="false" formControlName="rating" />
    </div>
    <button
      [disabled]="form.invalid"
      matButton="elevated"
      class="rounded-none! ms-auto"
    >
      Review
    </button>
  }
  @else {
    <span class="text-sm basis-full">Please <a routerLink="/login" [skipLocationChange]=true  class="text-amber-500 dark:text-amber-400">login</a> to leave a review</span>
  }
</form>
