<div class="">
  <div
    class="size-full flex justify-center items-center gap-3"
    role="button"
    (click)="show() ? closeFilters() : openFilters()"
  >
    <span
      class="icon-[mingcute--settings-6-line]"
      role="img"
      aria-hidden="true"
    ></span>
    <span>
      @if (show()) {
        close
      }
      filters</span
    >
  </div>
</div>

@if (show()) {
  <div class="">
    <h4 class="text-lg font-bold">Search</h4>
    <div
      class="border border-gray-800/50 focus-within:outline px-3 py-1 bg-white/70 rounded-full flex"
    >
      <input type="text" class="outline-none grow" [(ngModel)]="filters.q" />
    </div>
  </div>

  <div class="">
    <h4 class="text-lg font-bold">Filters</h4>
    <div class="flex justify-end items-center gap-3">
      <button
        class="px-3 py-1 bg-amber-200 dark:bg-amber-500 dark:text-slate-800 rounded-full"
        (click)="applyFilters()"
      >
        Apply Filters
      </button>
      <button
        class="px-3 py-1 bg-red-400 text-white rounded-full"
        (click)="[clearFilters(), closeFilters()]"
      >
        Clear Filters
      </button>
    </div>
  </div>

  <div class="">
    <!-- <div class="flex flex-wrap gap-1.5"> -->
    <!--   @for (cat of ["all", "in-stock", "discount"]; track $index) { -->
    <!--     <web-chip -->
    <!--       [selected]="filters.cat == cat || (filters.cat == '' && cat == 'all')" -->
    <!--       (select)=" -->
    <!--         updateFilter('cat', (filters.cat = cat == 'all' ? '' : cat)) -->
    <!--       " -->
    <!--     > -->
    <!--       {{ cat }} -->
    <!--     </web-chip> -->
    <!--   } -->
    <!-- </div> -->
  </div>

  <div class="">
    <h4 class="text-lg font-bold">hair type</h4>
    <div class="flex flex-wrap gap-1.5">
      <web-chip
        [selected]="!filters.hair_type || filters.hair_type == ''"
        (select)="filters.hair_type = ''"
      >
        all
      </web-chip>
      @for (hairType of hairTypes.value(); track hairType.id) {
        <web-chip
          [selected]="hairType.name == filters.hair_type"
          (select)="updateFilter('hair_type', hairType.name)"
        >
          {{ hairType.name }}
        </web-chip>
      }
    </div>
  </div>

  <div class="">
    <h4 class="text-lg font-bold">Color</h4>
    <div class="flex flex-wrap gap-1.5">
      <web-chip
        [selected]="!filters.color || filters.color == ''"
        (select)="updateFilter('color', (filters.color = ''))"
      >
        all
      </web-chip>
      @for (color of colors.value(); track color.id) {
        <web-chip
          [selected]="filters.color == color.name"
          (select)="updateFilter('color', color.name)"
        >
          {{ color.name }}
        </web-chip>
      }
    </div>
  </div>

  <div class="">
    <h4 class="text-lg font-bold">Length (inches)</h4>
    <div class="flex flex-wrap gap-1.5">
      <web-chip
        [selected]="!filters.length || filters.length == ''"
        (select)="updateFilter('length', '')"
      >
        all
      </web-chip>
      @for (length of lengths.value(); track length.id) {
        <web-chip
          [selected]="filters.length == length.value"
          (select)="updateFilter('length', length.value)"
        >
          {{ length.value }}
        </web-chip>
      }
    </div>
  </div>

  <div class="">
    <h4 class="text-lg font-bold">Style</h4>
    <div class="flex flex-wrap gap-1.5">
      <web-chip
        [selected]="!filters.texture || filters.texture == ''"
        (select)="filters.texture = ''"
      >
        all
      </web-chip>
      @for (texture of textures.value(); track texture.id) {
        <web-chip
          [selected]="filters.texture == texture.name"
          (select)="updateFilter('texture', texture.name)"
        >
          {{ texture.name }}
        </web-chip>
      }
    </div>
  </div>

  <div class="">
    <h4 class="text-lg font-bold">Lace type</h4>
    <div class="flex flex-wrap gap-1.5">
      <web-chip
        [selected]="!filters.lace || filters.lace == ''"
        (select)="filters.lace = ''"
      >
        all
      </web-chip>
      @for (lace of laces.value(); track lace.id) {
        <web-chip
          [selected]="filters.lace == lace.name"
          (select)="updateFilter('lace', lace.name)"
        >
          {{ lace.name }}
        </web-chip>
      }
    </div>
  </div>

  <div class="">
    <h4 class="text-lg font-bold">Source</h4>
    <div class="flex flex-wrap gap-1.5">
      <web-chip
        [selected]="!filters.source || filters.source == ''"
        (select)="filters.source = ''"
      >
        all
      </web-chip>
      @for (source of sources.value(); track source.id) {
        <web-chip
          [selected]="filters.source == source.name"
          (select)="updateFilter('source', source.name)"
        >
          {{ source.name }}
        </web-chip>
      }
    </div>
  </div>
}
