<div class="">
  <div
    class="flex gap-3 justify-center items-center size-full"
    role="button"
    (click)="show() ? closeFilters() : openFilters()"
  >
    <span
      class="icon-[mingcute--settings-6-line]"
      role="img"
      aria-hidden="true"
    ></span>
    <span>
      @if (show()) {
        close
      }
      filters</span
    >
  </div>
</div>

@if (show()) {
  <div class="">
    <text-input [formControl]="q" label="Search" class="mt-6">
      <span ngProjectAs="right" class="justify-self-center self-center icon-[iconoir--search]" role="img" aria-hidden="true"></span>
    </text-input>
  </div>

  <div class="">
    <h4 class="text-lg font-bold">Filters</h4>
    <div class="flex gap-3 justify-end items-center">
      <button
        class="py-1 px-3 text-white bg-red-400 rounded-full"
        (click)="q.reset()"
        [routerLink]="['./']"
        [state]="{skipLoading: true}"
      >
        Reset Filters
      </button>
    </div>
  </div>

  <div class="">
    <h4 class="text-lg font-bold">hair type</h4>
    <div class="flex flex-wrap gap-1.5">
      <web-chip
          [routerLink]="['./']"
          [class.selected]="!queryParams()['hair_type']"
          [queryParams]="{ hair_type: undefined, page: undefined }"
          queryParamsHandling="merge"
          [state]="{skipLoading: true}"
      >
        all
      </web-chip>
      @for (hairType of hairTypes.value(); track hairType.id) {
        <web-chip
          [routerLink]="['./']"
          routerLinkActive="selected"
          [queryParams]="{ hair_type: hairType.name, page: undefined }"
          queryParamsHandling="merge"
          [state]="{skipLoading: true}"
        >
          <!-- (select)="updateFilter('hair_type', hairType.name)" -->
          {{ hairType.name }}
        </web-chip>
      }
    </div>
  </div>

  <div class="">
    <h4 class="text-lg font-bold">Color</h4>
    <div class="flex flex-wrap gap-1.5">
      <web-chip
        routerLink="./"
          [class.selected]="!queryParams()['color']"
        [queryParams]="{ color: undefined, page: undefined }"
          queryParamsHandling="merge"
          [state]="{skipLoading: true}"
      >
        all
      </web-chip>
      @for (color of colors.value(); track color.id) {
        <web-chip
          [routerLink]="['./']"
          routerLinkActive="selected"
          [queryParams]="{ color: color.name, page: undefined }"
          queryParamsHandling="merge"
          (click)="viewportScroller.scrollToPosition([0,0])"
          [state]="{skipLoading: true}"
        >
          {{ color.name }}
        </web-chip>
      }
    </div>
  </div>

  <div class="">
    <h4 class="text-lg font-bold">Length (inches)</h4>
    <div class="flex flex-wrap gap-1.5">
      <web-chip
          [routerLink]="['./']"
          [class.selected]="!queryParams()['length']"
          [queryParams]="{ length: undefined, page: undefined }"
          queryParamsHandling="merge"
          [state]="{skipLoading: true}"
      >
        all
      </web-chip>
      @for (length of lengths.value(); track length.id) {
        <web-chip
          [routerLink]="['./']"
          routerLinkActive="selected"
          [queryParams]="{ length: length.value, page: undefined}"
          queryParamsHandling="merge"
          [state]="{skipLoading: true}"
        >
          {{ length.value }}
        </web-chip>
      }
    </div>
  </div>

  <div class="">
    <h4 class="text-lg font-bold">Texture</h4>
    <div class="flex flex-wrap gap-1.5">
      <web-chip
        routerLink="./"
          [class.selected]="!queryParams()['texture']"
        [queryParams]="{ texture: undefined, page: undefined }"
          queryParamsHandling="merge"
          [state]="{skipLoading: true}"
      >
        all
      </web-chip>
      @for (texture of textures.value(); track texture.id) {
        <web-chip
          routerLink="./"
          routerLinkActive="selected"
          [queryParams]="{ texture: texture.name, page: undefined }"
          queryParamsHandling="merge"
          [state]="{skipLoading: true}"
        >
          {{ texture.name }}
        </web-chip>
      }
    </div>
  </div>

  <div class="">
    <h4 class="text-lg font-bold">Lace type</h4>
    <div class="flex flex-wrap gap-1.5">
      <web-chip
          routerLink="./"
          [class.selected]="!queryParams()['lace']"
          [queryParams]="{ lace: undefined, page: undefined }"
          queryParamsHandling="merge"
          [state]="{skipLoading: true}"
      >
        all
      </web-chip>
      @for (lace of laces.value(); track lace.id) {
        <web-chip
          routerLink="./"
          [queryParams]="{ lace: lace.name, page: undefined }"
          routerLinkActive="selected"
          queryParamsHandling="merge"
          [state]="{skipLoading: true}"
        >
          {{ lace.name }}
        </web-chip>
      }
    </div>
  </div>

  <div class="">
    <h4 class="text-lg font-bold">Source</h4>
    <div class="flex flex-wrap gap-1.5">
      <web-chip
          routerLink="./"
          [class.selected]="!queryParams()['source']"
          [queryParams]="{ source: undefined, page: undefined }"
          queryParamsHandling="merge"
          [state]="{skipLoading: true}"
      >
        all
      </web-chip>
      @for (source of sources.value(); track source.id) {
        <web-chip
          routerLink="./"
          routerLinkActive="selected"
          [queryParams]="{ source: source.name, page: undefined }"
          queryParamsHandling="merge"
          [state]="{skipLoading: true}"
        >
          {{ source.name }}
        </web-chip>
      }
    </div>
  </div>

  <div class="">
    <h4 class="text-lg font-bold">Parting</h4>
    <div class="flex flex-wrap gap-1.5">
      <web-chip
          routerLink="./"
          [class.selected]="!queryParams()['parting']"
          [queryParams]="{ parting: undefined, page: undefined }"
          queryParamsHandling="merge"
          [state]="{skipLoading: true}"
      >
        all
      </web-chip>
      @for (parting of ['side', 'middle', 'free']; track parting) {
        <web-chip
          routerLink="./"
          routerLinkActive="selected"
          [queryParams]="{ parting, page: undefined }"
          queryParamsHandling="merge"
          [state]="{skipLoading: true}"
        >
          {{ parting }}
        </web-chip>
      }
    </div>
  </div>

  <div class="">
    <h4 class="text-lg font-bold">Cap Size</h4>
    <div class="flex flex-wrap gap-1.5">
      <web-chip
          routerLink="./"
          [class.selected]="!queryParams()['cap']"
          [queryParams]="{ cap: undefined, page: undefined }"
          queryParamsHandling="merge"
      >
        all
      </web-chip>
      @for (cap of [21, 22, 23, 24, 25]; track cap) {
        <web-chip
          routerLink="./"
          routerLinkActive="selected"
          [queryParams]="{ cap, page: undefined }"
          queryParamsHandling="merge"
          [state]="{skipLoading: true}"
        >
          {{ cap }}
        </web-chip>
      }
    </div>
  </div>
}
