<section class="mt-18">
  <div class="flex flex-col tablet-lg:flex-row px-3">
    <div
      class="shrink-0 tablet-lg:w-[min(300px,90dvw)] supports-dvw:tablet-lg:w-[min(300px,90dvw)] transition-all duration-300"
      [class.w-30!]="!filterOpen()"
    >
      <web-shop-filter
        [open]="filterOpen()"
        (open)="filterOpen.set(true)"
        (close)="filterOpen.set(false)"
      />
    </div>
    <div class="grow @container/page">
      <div
        class="grid @min-[35rem]/page:grid-cols-2 @3xl/page:grid-cols-3 @min-[62rem]/page:grid-cols-4 gap-x-3 gap-y-6 4xl:gap-10 px-6"
      >
        @if (wigs.isLoading()) { @for(i of [1,2,3,4,5,6,7,8]; track $index) {
        <web-product-card-skeleton />
        } } @else { @for(wig of wigs.value()?.data; track wig.id) {
        <web-wig-card
          [wig]="wig"
          class=""
          (like)="wig.liked = !wig.liked"
          [thumbnailLoadingPriority]="$index <= 3"
        />
        } @empty {
        <div
          class="text-center col-span-full p-6 rounded-lg bg-geyser/40 backdrop-blur-sm"
        >
          @if (hasFilters()) {
          <h4 class="text-xl font-bold">
            No items match for current search filters
          </h4>
          } @else {
          <h4 class="text-xl font-bold">No wigs available.</h4>
          <span class=""> Please try again later. </span>
          }
        </div>
        } }
        <!-- ! -->
        @if (wigs.value()) {
        <web-pagination
          class="col-span-full"
          [meta]="wigs.value()!.meta"
          [page]="page() ?? wigs.value()!.meta.current_page"
          (pageChange)="this.page.set($event)"
        />
        }
      </div>
    </div>
  </div>
</section>
