<div class="grow flex flex-col justify-center mx-auto max-w-screen-tablet-lg">
  <h2
    class="font-black text-4xl tablet-sm:text-5xl tablet-lg:text-6xl capitalize mb-6"
  >
    Find your perfect wig
  </h2>
  <p class="">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi a, quo aliquam
    repellendus delectus ex accusamus tenetur est eius voluptatem veniam dicta
    esse magni ad maxime quasi, quidem sit modi.
  </p>
</div>
<!-- <div class="flex basis-1/3 items-end"> -->
<!--   <div -->
<!--     class="bg-[url(/assets/images/3178d28f2451fedefcbbecf960f16fbd.jpg)] bg-contain bg-no-repeat aspect-3/4 max-tablet-lg:hidden w-full" -->
<!--   ></div> -->
<!-- </div> -->

<div class="absolute left-1/2 -translate-x-1/2 bottom-10">
  <button
    class="animate-bounce animation-duration-5000 size-square size-12 bg-geyser dark:bg-primary text-black rounded-full flex items-center justify-center"
    (click)="viewportScroller.scrollToAnchor('categories')"
  >
    <span
      class="icon-[garden--chevron-double-down-stroke-16]"
      role="img"
      aria-hidden="true"
    ></span>
  </button>
</div>
