<header class="flex relative justify-between items-center py-1 px-2">
  <nav
    class="flex items-center gap-3 flex-1 px-2 *:font-bold max-tablet-lg:hidden *:dark:text-primary"
  >
    <a [routerLink]="['/']">Home</a>
    <a [routerLink]="['/shop']">Shop</a>
    <a [routerLink]="['/about']">About</a>
    <a [routerLink]="['/contact']">Contact</a>
  </nav>

  <div class="flex-1 tablet-lg:hidden ps-2">
    <button (click)="showMobileMenu = !showMobileMenu">
      <span
        class="text-2xl icon-[material-symbols-light--menu]"
        role="img"
        aria-hidden="true"
      ></span>
    </button>
  </div>

  <a
    routerLink="/"
    class="block overflow-hidden relative h-10 rounded-full aspect-square shrink-0"
  >
    <img ngSrc="/assets/images/logo.jpg" alt="Morgan Hair logo" priority fill />
  </a>
  <div class="flex flex-1 gap-3 justify-end items-center px-2 tablet-sm:gap-6">
    <span class="icon-[iconoir--search]" role="img" aria-hidden="true"></span>
    <div class="flex items-center">
      <web-badge
        role="button"
        class="flex items-center"
        (click)="cart.open()"
        [value]="cart.count() > 0 ? cart.count() : undefined"
      >
        <span
          class="text-lg icon-[solar--cart-4-linear]"
          role="img"
          aria-hidden="true"
        >
        </span>
      </web-badge>
    </div>
    <span
      class="icon-[solar--user-rounded-outline]"
      role="img"
      aria-hidden="true"
    ></span>
  </div>

  <div class="absolute inset-x-0 top-[112%] tablet-lg:hidden px-6 bg-[url(/assets/images/texture.png)] bg-no-repeat bg-cover h-auto">
    <nav
      class="flex flex-col gap-3 flex-1 px-2 *:font-bold p-5 rounded-lg overflow-hidden *:text-shadow-2xs *:text-shadow-black"
      [@openClose]="showMobileMenu ? 'open' : 'close'"
      (click)="showMobileMenu = false"
    >
      <a [routerLink]="['/']">Home</a>
      <a [routerLink]="['/shop']">Shop</a>
      <a [routerLink]="['/about']">About</a>
      <a [routerLink]="['/contact']">Contact</a>
    </nav>
  </div>
</header>
