<section class="relative pb-3 h-screen supports-dvh:h-[100dvh]">
  <div class="flex flex-col gap-y-3 size-full">
    @defer (hydrate on immediate) {
      <web-hero class="overflow-hidden grow" />
    }

  </div>
</section>

<section class="">
    @defer(hydrate on immediate) {
      <web-hair-type-list />
    }
</section>

<section class="pb-9 supports-dvh:min-h-[100dvh] pt-18" id="featured-section">
  <div class="mx-auto space-y-9 max-w-screen-lg">
    <h3 class="text-3xl font-black tracking-widest text-center">
      Featured Wigs
    </h3>

    <div
      class="grid gap-x-3 gap-y-6 py-3 px-4 mobile:grid-cols-2 tablet-sm:grid-cols-3 tablet-sm:gap-y-9 tablet-lg:grid-cols-4"
    >
      <div
        class="flex col-span-full gap-3 justify-center items-center py-3 mt-3 font-medium"
      >
        <button>New</button>
        <button>Best Selling</button>
        <button>Popular</button>
      </div>
      @if (products.isLoading()) {
      <!-- ! -->
      @for (wig of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) {

      <web-product-card-skeleton />
      }
      <!-- ! -->
      } @else {
        <!-- ! -->
        @for (wig of products.value(); track wig.id) {
          <web-wig-card
            [wig]="wig"
            (like)="wig.liked = $event"
            [class.max-tablet-lg:hidden!]="$index > 5"
            [class.max-laptop:hidden!]="$index > 7"
          />

        }
      }
    </div>

    <div class="flex justify-center">
      <a
        [routerLink]="['/shop']"
        class="py-1.5 px-3 mx-auto text-white rounded-full dark:bg-white bg-primary dark:text-slate-800"
      >
        View More
      </a>
    </div>
  </div>
</section>

<section class="pb-9 pt-18" id="featured-section">
  <h3 class="mb-6 text-3xl font-black tracking-widest text-center">
    Feedback from customers
  </h3>
  @defer (hydrate on immediate) {
  <web-testimonial-list class="max-w-screen-lg" />
  }
</section>
