@theme {
  --color-primary: #d6d6d6;
  --animate-bounce-shadow: bounce-shadow 1s infinite;
  --default-font-family: "Diotima LT Std";

  --color-navajo-white: #ffe1b3;
  --color-thistle: #dfc8f2;
  --color-periwinkle: #bac6ee;
  --color-nyanza: #d9f2d4;
  --color-tea-rose: #ffd2cf;

  --color-muted: var(--color-gray-400);

  /* CSS break points for resposive design  */
  --breakpoint-mobile: 300px;
  --breakpoint-tablet-sm: 480px;
  --breakpoint-tablet: 520px;
  --breakpoint-tablet-lg: 768px;
  --breakpoint-laptop: 1280px;
  --breakpoint-desktop: 1980px;

  --aspect-thumbnail: 4/3;

  @keyframes bounce-shadow {
    0%,
    100% {
      transform: translateX(-50%) translateY(140%) scale(0.5);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      opacity: 0.17;
    }
    50% {
      transform: translateX(-50%) translateY(85%) scale(1);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      opacity: 0.3;
    }
  }
}
