@theme {
  --color-primary: #d6d6d6;
  --animate-bounce-shadow: bounce-shadow 1s infinite;

  @keyframes bounce-shadow {
    0%,
    100% {
      transform: translateX(-50%) translateY(140%) scale(0.5);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      opacity: 0.17;
    }
    50% {
      transform: translateX(-50%) translateY(85%) scale(1);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      opacity: 0.3;
    }
  }
}
