<thumbnail [src]="product().thumbnail" [alt]="product().thumbnail.alt ? product().thumbnail.alt : product().name" class="overflow-hidden rounded aspect-4/3"  />

<div class="col-span-4">
  <div class="flex flex-col gap-1.5">
    <div class="flex gap-3 justify-between items-center">
      <a
        [routerLink]="['/product', product().id]"
        class="inline-block text-lg capitalize truncate"
      >
        {{ product().name }}
        <span class="absolute inset-0 z-9"></span>
      </a>
      <span
        role="button"
        (click)="remove.emit()"
        class="flex z-10 justify-center items-center px-2 text-xs rounded-full border border-gray-400 py-[0.5px] shrink-0"
        >remove</span
      >
    </div>
    <div class="flex gap-1 items-center">
      @if (productHelper.hasDiscount()) {
        <del class="text-sm">{{ product().price | currency }}</del>
      }
      <sup>
        <span class="text-sm" [class.price-tag]="productHelper.hasDiscount()">{{
          productHelper.discountedPrice() | currency
        }}</span>
      </sup>
    </div>
    <span class="">{{ product().length.value }} inches</span>
      <number-input [min]="0" [value]="product().quantity" (increment)="increment.emit()" (decrement)="decrement.emit()" class="z-100 ms-auto [&_input]:w-10" [readonly]="true"/>
  </div>
</div>
