/* You can add global styles to this file, and also import other style files */
@import "../../shared/styles.css";
@import "./theme.css";

@layer base {
	html {
	}
	body {
		@apply scroll-smooth;
		/* font-weight: 600; */
	}
}

@layer components {
	.price-tag {
		@apply bg-(--mat-sys-tertiary) text-(--mat-sys-on-tertiary) rounded-r-sm px-1.5 py-0.5 relative isolate ms-2;

		@variant before {
			@apply absolute right-full inset-y-0 aspect-square bg-(--mat-sys-tertiary);

			clip-path: polygon(50% 50%, 105% 0%, 105% 100%);
		}
	}
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	/* font-family: Roboto, "Helvetica Neue", sans-serif; */
}
