<section
  class="dark:bg-amber-500 bg-navajo-white backdrop-blur-sm dark:text-slate-800"
>
  <div class="px-6 pt-20 mx-auto pb-15 max-w-screen-tablet-lg">
    <h3 class="mb-6 text-4xl font-bold text-center">Disclaimer</h3>

    <p class="text-lg font-semibold text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto asperiores
      ab quis aperiam harum rem excepturi quibusdam corporis enim. Aut animi
      esse veniam repellendus id fuga eaque doloremque quia repellat quos. Quasi
      exercitationem rerum alias voluptatibus nisi eligendi minima! Voluptates
      atque, quas dignissimos maiores laborum neque ut harum suscipit dolorum,
      officia incidunt molestias quia a qui esse? Expedita, dolor odit.
    </p>
  </div>
</section>
<section>
  <div class="p-6 mx-auto max-w-screen-lg">
    <div class="grid grid-cols-8">
      <div
        class="overflow-y-auto col-span-5 divide-y max-tablet-lg:order-last max-tablet-lg:col-span-full scrollbar-hidden"
      >
        @for (product of cart.entities(); track product.id) {
        <div class="flex gap-3 py-6 px-3">
          <div class="overflow-hidden relative rounded-lg basis-1/5 aspect-3/4">
            <thumbnail
              [src]="product.thumbnail.url"
              [alt]="product.thumbnail.alt != '' ? product.thumbnail.alt :  product.name"
              class="size-full [&_img]:object-top!"
              fill
              [priority]="$first"
            />
          </div>
          <div class="flex flex-col gap-2 grow">
            <div class="flex justify-between">
              <span class="text-lg text-nowrap"> {{ product.name }} </span>
              <span
                role="button"
                (click)="cart.remove(product)"
                class="flex z-10 justify-center items-center px-2 text-xs rounded-full border border-gray-400 py-[0.5px] shrink-0"
              >
                remove
              </span>
            </div>

            <div class="flex gap-1 items-center grow">
              @if (product.discount) {
              <del class="text-sm">{{ product.price | currency }}</del>
              <sup>
                <span class="text-sm" [class.price-tag]="!!product.discount">
                  {{ (product.discount!.type == 'fixed' ? product.price -
                  product!.discount!.value: (100 - product!.discount!.value) *
                  100 / product!.price ) | currency }}
                </span>
              </sup>
              } @else {
              <span>{{ product.price | currency }}</span>
              }
            </div>
            <span>{{ product.length.value }} inches</span>

            <div class="flex justify-end py-3">
                <number-input (increment)="cart.add(product, false)" (decrement)="cart.reduce(product, false)" [readonly]="true" [value]="product.quantity" class="[&_input]:w-10" />
            </div>
          </div>
        </div>
        } @empty{
        <div class="flex flex-col gap-1 justify-center items-center h-90">
          <span class="text-2xl font-bolder">No items in cart</span>
          <a [routerLink]="['/shop']" class="text-amber-300 underline"
            >continue shopping</a
          >
        </div>
        }
      </div>
      <div class="col-span-3 p-3 max-tablet-lg:col-span-full">
        <div class="sticky top-20">
          <div class="flex justify-between">
            <span class="text-xl font-bold"> Subtotal </span>
            <span>{{ cart.total() | currency }}</span>
          </div>
          <div class="flex justify-between">
            <span> Delivery </span>
            <span>{{ 0 | currency }}</span>
          </div>
          <div class="flex flex-col gap-3 py-6 *:mt-9 *:has-placeholder-shown:mt-3">
            <text-input label="Enter coupon code" class="transition-300" />
            <text-area label="Add Delivery Note" class="transition-300" />
          </div>
          <div class="">
            <div class="flex justify-between">
              <span class="text-xl font-bold"> Total </span>
              <span>{{ cart.total() | currency }}</span>
            </div>
            <div class="flex flex-col gap-3 py-6">
              <button
                class="py-3 px-1 text-lg font-bold text-white rounded-lg dark:bg-amber-500 bg-navajo-white dark:text-slate-800"
                routerLink="/checkout"
              >
                Checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
