@reference "../../../../styles.css";

:host {
  display: block;
  background-color: var(--color-geyser);
  color: var(--color-primary);
  padding: calc(var(--spacing) * 6) calc(var(--spacing) * 3) calc(var(--spacing) * 3);

  @variant dark {
    @apply bg-primary text-geyser;
  }
}
