<div class="grid tablet-sm:grid-cols-2 max-w-screen-lg mx-auto">
  <div class="flex flex-col">
    <h3 class="my-3 text-center text-2xl">Contact</h3>
    <div class="space-y-1 *:flex *:gap-3 *:items-center mx-auto">
      <div class="">
        <span class="icon-[hugeicons--mail-01]" role="img" aria-hidden="true"></span>
        <span class="">info&#64;morganhairextensions.com</span>
      </div>
      <div class="">
        <span class="icon-[hugeicons--call]" role="img" aria-hidden="true"></span>
        <span class="">+237 6 51 12 41 64</span>
      </div>
      <div class="">
        <span class="icon-[hugeicons--entering-geo-fence]" role="img" aria-hidden="true"></span>
        <span class="">12456 Rue de Gaulles, Bonapriso</span>
      </div>
    </div>
  </div>

  <div class="flex flex-col">
    <h3 class="my-3 text-center text-2xl">Follow on Social Media</h3>
    <div class="flex gap-3 justify-evenly mt-6">
      <div class="">
        <span class="icon-[logos--facebook]" role="img" aria-hidden="true"></span>
        <span class="sr-only">Facebook</span>
      </div>
      <div class="">
        <span class="icon-[skill-icons--instagram]" role="img" aria-hidden="true"></span>
        <span class="sr-only">Instagram</span>
      </div>
      <div class="">
        <span class="icon-[logos--twitter]" role="img" aria-hidden="true"></span>
        <span class="sr-only">Twitter</span>
      </div>
      <div class="">
        <span class="icon-[logos--tiktok-icon]" role="img" aria-hidden="true"></span>
        <span class="sr-only">Tiktok</span>
      </div>
    </div>
  </div>
  </div>

<p class="text-center text-sm mt-9">Copyrights © 2025. Morgan Hair Extensions</p>
