@reference "../../../../styles.css";

:host {
  @apply backdrop-blur dark:backdrop-blur-[4px] opacity-0 z-100 bg-white/30 dark:bg-slate-800/70;
  position: fixed;
  top: 0;
  bottom: 0;
  right: min(-350px, -10%);
  width: min(350px, 90%);
  padding: calc(var(--spacing) * 3);
  padding-top: calc(var(--spacing) * 15);
}
