<div class="flex flex-col">
  <img
    [src]="product().thumbnail.url"
    [alt]="
      product().thumbnail.alt != '' ? product().thumbnail.alt : product().name
    "
    class="aspect-[300/400] object-cover object-center"
  />

  <div class="mt-3 px-px flex flex-col gap-3">
    <a
      class="first-letter:uppercase"
      [routerLink]="['/product()', product().id]"
    >
      {{ product().name }}
      <span class="absolute inset-0"></span>
    </a>

    <div class="flex justify-between items-center px-3">
      <div class="flex gap-1 items-center">
        @if (hasDiscount()) {
          <del class="text-sm">{{ product().price | currency }}</del>
        }
        <sup>
          <span class="text-sm" [class.price-tag]="hasDiscount()">{{
            discountedPrice() | currency
          }}</span>
        </sup>
      </div>

      <button (click)="cart.add(product())" class="z-10">
        @if (cart.has(product())) {
          <span
            class="icon-[solar--cart-check-bold]"
            role="img"
            aria-hidden="true"
          ></span>
        } @else {
          <span
            class="icon-[solar--cart-plus-linear]"
            role="img"
            aria-hidden="true"
          ></span>
        }
      </button>
    </div>
  </div>

  <span
    class="absolute top-2 right-2 text-lg z-10 cursor-pointer"
    (click)="likeProduct()"
    [class]="[
      product().liked ? 'icon-[iconoir--heart-solid]' : 'icon-[iconoir--heart]',
    ]"
    role="img"
    aria-hidden="true"
  ></span>

  @if (activeDiscount(); as discount) {
    @if (discount.type == "percentage") {
      <span
        class="absolute top-2 left-2 rounded-full px-1 flex items-center bg-amber-200 aspect-square animate-pulse"
        >- {{ discount.value / 100 | percent }}</span
      >
    }
  }
</div>
