@let wig = this.wig();

<div class="flex flex-col">
  <div class="overflow-hidden relative aspect-300/400">
    <thumbnail
      [src]="wig.thumbnail.url"
      [alt]="wig.thumbnail.alt ? wig.thumbnail.alt : wig.name"
      class="size-full [&_img]:object-top! [&_img]:group-hover/wig-card:scale-105 [&_img]:duration-300 [&_img]:transition-transform group-[.out]/wig-card:grayscale brightness-50"
    />

    <!-- out of stock  -->
    <div class="hidden out-of-stock">
      <span class="text-sm animate-pulse tablet-sm:text-base"> Out of stock </span>
    </div>
  </div>

  <div class="flex flex-col gap-3 px-px mt-3">
    <a class="font-semibold truncate max-tablet-sm:text-sm max-tablet-sm:font-semibold first-letter:uppercase" [state]="{ preserveScroll: false }" [routerLink]="['/wig', wig.slug]">
      {{ wig.name }}
      <span class="absolute inset-0"></span>
    </a>

    <div
      class="flex max-tablet:px-1 tablet-sm:flex-row tablet-sm:justify-between tablet-sm:items-center text-primary/90"
    >
      <div class="flex gap-1 items-center">
        @if (wig.discount) {
          <del class="text-sm max-tablet-sm:text-sm">{{ wig.length.price | currency }}</del>
        }
        <sup>
          <span class="text-sm max-tablet-sm:text-xs" [class.price-tag]="!!wig.discount">{{
            wigHelper.discountedPrice() | currency
          }}</span>
        </sup>
      </div>

      <button
        (click)="cart.add(wig)"
        class="z-auto text-lg max-tablet-sm:ms-auto"
        [title]="
          wig.stock < 1 ||
          (cart.get(wig.id + ':' + wig.length.id)?.quantity ?? 0) >= wig.stock
            ? 'wig cannont be added to cart'
            : 'Add to cart'
        "
      >
        @if (cart.canBeAdded(wig)) {
          @if (cart.has(wig)) {
            <span
              class="text-xl icon-[solar--cart-check-bold] text-periwinkle"
              role="img"
              aria-hidden="true"
            ></span>
          } @else {
            <span
              class="text-lg icon-[solar--cart-plus-linear]"
              role="img"
              aria-hidden="true"
            ></span>
          }
        }
      </button>
    </div>
  </div>

  <span
    class="absolute top-2 right-2 z-auto cursor-pointer tablet-sm:top-5 tablet-sm:right-5 tablet-sm:text-2xl text-navajo-white dark:text-geyser"
    (click)="likeWig()"
    [class]="[
      wig.liked ? 'icon-[iconoir--heart-solid]' : 'icon-[iconoir--heart]',
    ]"
    role="img"
    aria-hidden="true"
  ></span>

  @if (wig.discount; as discount) {
    <span
      class="flex absolute top-2 left-2 items-center px-1 bg-amber-200 rounded-full animate-pulse dark:bg-amber-300 aspect-square"
    >
      @if (discount.type == "percentage") {
        - {{ discount.value / 100 | percent }}
      }
    </span>
  }
</div>
