@let wig = this.wig();

<div class="flex flex-col">
  <div class="aspect-300/400 overflow-hidden relative">
    <thumbnail
      [src]="wig.thumbnail.url"
      [alt]="wig.thumbnail.alt ? wig.thumbnail.alt : wig.name"
      class="size-full [&_img]:object-top! [&_img]:group-hover/wig-card:scale-105 [&_img]:duration-300 [&_img]:transition-transform group-[.out]/wig-card:grayscale brightness-50"
    />

    <!-- out of stock  -->
    <div class="out-of-stock hidden">
      <span class="animate-pulse"> Out of stock </span>
    </div>
  </div>

  <div class="mt-3 px-px flex flex-col gap-3">
    <a class="first-letter:uppercase" [routerLink]="['/wig', wig.slug]">
      {{ wig.name }}
      <span class="absolute inset-0"></span>
    </a>

    <div
      class="flex flex-col tablet-sm:flex-row tablet-sm:justify-between tablet-sm:items-center px-3"
    >
      <div class="flex gap-1 items-center">
        @if (wig.discount) {
          <del class="text-sm">{{ wig.length.price | currency }}</del>
        }
        <sup>
          <span class="text-sm" [class.price-tag]="!!wig.discount">{{
            wigHelper.discountedPrice() | currency
          }}</span>
        </sup>
      </div>

      <button
        (click)="cart.add(wig)"
        class="z-auto text-lg max-tablet-sm:ms-auto"
        [title]="
          wig.stock < 1 ||
          (cart.get(wig.id + ':' + wig.length.id)?.quantity ?? 0) >= wig.stock
            ? 'wig cannont be added to cart'
            : 'Add to cart'
        "
      >
        @if (cart.canBeAdded(wig)) {
          @if (cart.has(wig)) {
            <span
              class="icon-[solar--cart-check-bold]"
              role="img"
              aria-hidden="true"
            ></span>
          } @else {
            <span
              class="icon-[solar--cart-plus-linear]"
              role="img"
              aria-hidden="true"
            ></span>
          }
        }
      </button>
    </div>
  </div>

  <span
    class="absolute top-5 right-5 text-2xl z-auto cursor-pointer text-amber-400 dark:text-amber-500"
    (click)="likeWig()"
    [class]="[
      wig.liked ? 'icon-[iconoir--heart-solid]' : 'icon-[iconoir--heart]',
    ]"
    role="img"
    aria-hidden="true"
  ></span>

  @if (wig.discount; as discount) {
    <span
      class="absolute top-2 left-2 rounded-full px-1 flex items-center bg-amber-200 dark:bg-amber-500 aspect-square animate-pulse"
    >
      @if (discount.type == "percentage") {
        - {{ discount.value / 100 | percent }}
      }
    </span>
  }
</div>
